body {
    margin: 0;
    padding: 0;
    background-color: chocolate;
}

.container {
    background-color: white;
    width: 500px;
    height: 300px;
    border-radius: 10px;
    margin: auto;
    margin-top: 200px;
}

.header {
    padding: 3px;
    color: chocolate;
    border-bottom: 1px solid chocolate;
    margin-bottom: 10px;
}

input {
    width: 40px;
    height: 40px;
    outline: none;
    border-color:  chocolate;
    border-radius: 5px;
    margin: 10px; 
    margin-left: 5px;
}

p {
    color: chocolate;
    margin: 5px;
}

button {
   display: block;
   width: 70%;
   cursor: pointer;
   border: none;
   background-color: chocolate;
   border-radius: 5px;
   color: white;
   margin: auto;
   margin-top: 15PX;
   padding: 10px 10px;
}